fastapi[standard]>=0.142.2
pydantic>=2.14.0b2,<3.0.0
pydantic-core>=2.49.0,<3.0.0
uvicorn[standard]>=0.35.0
python-dotenv>=1.1.1
python-multipart>=0.0.20
PyJWT>=2.10.1
google-genai>=2.28.0,<3.0.0
Pillow>=11.3.0
httpx>=0.28.1
pytest>=8.4.0
